<!DOCTYPE html>
<html>
<head>
    <title>Demo html Page</title>
    
</head>
<body>
  
    <h2>{{title}}</h2>
    <form>
    <input type="text"/>
    <button >Search</button>
    </form>
     <p id="message-1"></p>
        <p id="message-2"></p>
    <script src="/js/app.js"></script>
    <a href="./About">About</a>
</body>
</html>